<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style type="text/css">
    button {
    color: white;
    background: #cc0000;
    border: 2px outset #d7b9c9;
    border-radius: 5px;
    }
</style>
  </head>
  <body>
    <h1>Todos!</h1>
    <div id='root'/>
  </body>
</html>
